<div class="row">

    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" routerLink="/home">Home</button>
    </div>

    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" routerLink="/colaborators">Colaborators</button>

    </div>
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" routerLink="/projects">Projects</button>

    </div>
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" routerLink="/holidays">Holidays</button>

    </div>
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary" routerLink="/associations">Associations</button>
    </div>


</div>
