<form [formGroup]="addProjectForm">

  <div class="row d-flex flex-column align-items-center">
    <div class="form-group col-8">
      <label for="name">Name</label>
      <input  type="text" id="name" class="form-control" required formControlName="name" maxlength="51" minlength="2">
      <div *ngIf="addProjectForm.errors?.['requiredName'] && tryToSubmit"
           class="cross-validation-error-message alert alert-danger" role="alert">Name can't be empty
      </div>
      <div *ngIf="addProjectForm.errors?.['invalidName'] && (addProjectForm.touched || addProjectForm.dirty ) && tryToSubmit"
           class="cross-validation-error-message alert alert-danger" role="alert">Invalid name
      </div>
    </div>

    <div class="form-group col-8">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" class="form-control" formControlName="startDate">
      <div *ngIf="addProjectForm.errors?.['requiredStartDate'] && !addProjectForm.touched && tryToSubmit"
           class="cross-validation-error-message alert alert-danger" role="alert">Date can't be null or empty
      </div>
      <div *ngIf="addProjectForm.errors?.['invalidDate'] && (addProjectForm.touched || addProjectForm.dirty ) && tryToSubmit"
           class="cross-validation-error-message alert alert-danger" role="alert">Invalid date
      </div>
    </div>

    <div class="form-group col-8">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" class="form-control" formControlName="endDate">
      <div *ngIf="addProjectForm.errors?.['requiredEndDate'] && !addProjectForm.touched && tryToSubmit"
           class="cross-validation-error-message alert alert-danger" role="alert">Date can't be null or empty
      </div>
      <div *ngIf="addProjectForm.errors?.['invalidDate'] && (addProjectForm.touched || addProjectForm.dirty ) && tryToSubmit"
           class="cross-validation-error-message alert alert-danger" role="alert">Invalid date
      </div>
    </div>

    <div class="col-8 mt-3 button-position">
      <button class="btn btn-success" (click)="onSubmit()">
        {{ enableOrDisable ? 'Edit Project' : 'Add Project' }}
      </button>
      <button class="btn btn-primary" (click)="goBack()">Go back</button>
    </div>

  </div>

</form>
